/* header.component.css */
.header-container {
    display: grid;
    place-items: center;
    height: 100px; /* You can adjust this depending on your design */
    background-color: #1a191b; /* Change the background color if needed */
    color: rgb(245, 242, 242);
    font-family: Arial, sans-serif;
    border: 2px solid;    
  }
  
  .header-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  