.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: linear-gradient(135deg, #052068, #081865);
  color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header-version
{
  margin-top: -45px;
  margin-left:65% ;
  font-size: 11px;
}
.styled-login-button {
  padding: 8px 20px;
  border: 2px solid #0a66c2;
  background-color: white;
  color: #0a66c2;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.styled-login-button:hover {
  background-color: #0a66c2;
  color: white;
}
.logout-btn
{
  margin-left: -80px;
  margin-top: 35px;
}