/* footer.component.css */
:host {
    display: flex;
    justify-content: flex-end; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
  }
  
  .footer-container {
    background-color: #111114; 
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 50px; 
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  