<div class="main">
  <!-- employee.component.html -->
  <div class="maticons">
    <div class="backmenu">
      <app-backtomenu></app-backtomenu>
    </div>
    <div class="button">
      <button mat-icon-button (click)="openDepartmentModal()">
        <mat-icon>add</mat-icon> 
      </button>
    </div>
  </div>
  <div class="department-grid-container">
    <ag-grid-angular
      [rowData]="departments"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [domLayout]="'autoHeight'"
      class="ag-theme-balham"
       style="width: 40%; height: 100%;"
    ></ag-grid-angular>
  </div>
</div>