:host {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
  text-align:start;
  position: relative;
  background-color: rgb(167, 213, 241);
}

:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(https://media.istockphoto.com/id/1460755337/photo/white-color-theme-modern-style-office-with-exposed-concrete-floor-and-a-lot-of-plant-3d.jpg?s=1024x1024&w=is&k=20&c=-G_7gtguYmk3uuYxxfBfCTbL0wulw0izJnUs6gW6iwE=); 
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  z-index: -1;  */
}

.ag-theme-balham {
  width: 100%; 
  height: 100%; 
  background-color: rgba(236, 221, 234, 0.8); /* Semi-transparent background */
  position: absolute; /* Position absolute to overlay on the background */
  top: 0;
  left: 0;
  gap: 20%;
  border: 2px solid;
}
.maticons {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Distribute space between items */
  position: absolute; /* Position absolute to place it at the top */
  top: 40px; /* Align to the top of the page */
  left: 0; /* Align to the left of the page */
  width: 100%;
  padding: 10px; /* Add some padding for spacing */
}

.backmenu {
  display: flex; 
  /* align-items: center;  */
   color: #0a0a0b;
   margin-left:360px ;

}

.button {
  display: flex;
  /* align-items: center;  */
  margin-right: 376px; 
}

.department-grid-container {
  display: flex;
  justify-content: center; /* This centers the grid container itself. If you want the grid to be aligned to the left, you can remove this line */
  align-items: flex-start; /* Align items to the start vertically */
  position: absolute; /* Position absolute to place it at the top */
  top: 40%; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to be exactly in the center */
  width: 100%;
  padding: 10px; /* Add some padding for spacing */
}

.ag-theme-balham {
  width: 100%; /* Ensure the grid takes full width of the container */
}

.ag-header-cell {
  text-align: left !important; /* Ensure header text is aligned to the left */
}

.ag-cell {
  text-align: left !important; /* Ensure cell content is aligned to the left */
}
