<!-- app.component.html -->
 <!-- <div class="app-container"> 
  <app-header  (menuSelection)="onMenuSelection($event)"></app-header>    
  <div *ngIf="selectedSection === 'employee'">
    <app-back-to-menu (backToMenu)="onBackToMenu()"></app-back-to-menu>
    <app-employee></app-employee>
    <app-footer></app-footer>
  </div>
  <div *ngIf="selectedSection === 'department'">
    <app-back-to-menu (backToMenu)="onBackToMenu()"></app-back-to-menu>
    <app-department></app-department>
    <app-footer></app-footer>
  </div>
</div> -->
<!-- 
 -->
<!-- <app-employee></app-employee>
<app-department></app-department> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
  

